.component-button-panel{
    height: 70%;
}

.orange{
    background-color: #F5923E;
}

.component-button-panel{
    overflow: hidden;
}

.component-button-panel>div{
    height: 20%;
    box-sizing: border-box;
    padding-bottom: 1px;
    white-space:nowrap;
}